<!-- <div ng-controller='Playlist'> -->
	<div id="current_playlist" class='row'>
		<h3 ng-bind='user_playlist.playlist_name'></h3>
		<a href='#/' ng-click='deletePlaylist(user_playlist.playlist_name)' class="delete_playlist btn btn-sm btn-danger pull-right">Delete Playlist</a>
		<div class="col-sm-10 col-sm-offset-1">
			<table class="table">
			  	<thead>
				  	<tr>
				  		<th></th>
				  		<th>Track</th>
				  		<th>Artist</th>
				  		<th>Date Added</th>
				  		<th>Action</th>
				  	</tr>
			  	</thead>
			  	<tbody>
			  		<tr ng-repeat='song in user_playlist.songs | filter: filter_name' >
			  			<td><a href='' ng-click='playSong(song.file_source)'><span class="play_icon glyphicon glyphicon-play"></span></a></td>
						<td><p ng-click='' ng-bind='song.track'></p></td>
						<td ng-bind='song.artist'></td>
						<td ng-bind="song.date | date: 'MMMM d, y'"></td>
						<td><a href='' ng-click='deleteSong($index, song,user_playlist.playlist_name)'><span class="trash_icon glyphicon glyphicon-trash"></span></a></td>
					</tr>
			  	</tbody>
			</table>
		</div>
	</div>
<!-- </div>